{% extends 'shop/basics.html' %}
{% block title %} {{product.product_name}}  {% endblock %}
{% block body%}
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="row">
 <img src='/media/{{product.images}}' width="200px" height="300px" >
            <div class="row">
                <button class="btn btn-primary mx-2 "> buy now</button>
                <button class="btn btn-primary mx-2"> add to cart this</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>{{product.product_name}}</h2>
        <h7 style="color:green";> Special price</h7>
        <h3><b>Rs. {{product.prices}}</b></h3>
        <p>{{product.desc}}</p><br>

        <h2>Available offers</h2><br>
        <h5>


         📌 Special PriceGet extra 10% off (price inclusive of discount)</h5>
        <h5>  📌 Bank Offer10% off on ICICI Bank Cards, up to ₹750. On orders of ₹1500 and above</h5>
         <h5> 📌 Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card
         </h5>
         <h5>  📌 ank OfferFlat ₹100 off on first Flipkart Pay Later order of ₹500 and above
         </h5>


    </div>
    </div></div>
{% endblock %}
{% block js %}
    <script>
        console.log('working');
        if(localStorage.getItem('cart')==null){
        var cart={};
        }
        else{
        cart=JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;
        }
        $('.cart').click(function(){

        console.log('clickedu')
        var idstring =this.id.toString();
        console.log(idstring);
        if(cart[idstring!=undefined]){
        cart[idstring]=cart[idstring]+1;}
        else{
        cart[idstring]=1;}
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;

        });
        $('#popcart').popover()
        document.getElementById("popcart").setAttribute('data-content','<h1> cart</h1>');

    </script>
    {%endblock%}